In [ ]:
from util import

In [83]:
import json

def read_csv():
    df = pd.read_csv('./data/combine.csv')
    df = df[df['pred'] != 0]
    return json.loads(df.to_json(orient="records"))

rows = read_csv()
for row in rows:
    if row['pred'] == 1:
        temp = {
            "point":{
                "x": row['date']*1000,
                "y": row['Close'],
                "xAxis": 0,
                "yAxis": 0
            },
            "text": "buy"
        }
    elif row['pred'] == 2:
        temp = {
            "point":{
                "x": row['date']*1000,
                "y": row['Close'],
                "xAxis": 0,
                "yAxis": 0
            },
            "text": "sell"
        }
    print(f"data: {json.dumps(temp)}\n")
    break

data: {"point": {"x": 1626202800000, "y": 32323.4, "xAxis": 0, "yAxis": 0}, "text": "sell"}

In [171]:
test = pd.read_csv('./data/pred_test_day.csv')
test2 = pd.read_csv('./data/pred_train_day.csv')
print(len(test))
print(len(test2))
res = pd.concat([test, test2], ignore_index=True, sort=False)
print(len(res))
res

227
2034
2261

            date  pred   entropy      hold       buy      sell
0     2021-03-04     1  0.981112  0.351136  0.404654  0.244210
1     2021-03-05     1  0.958637  0.249601  0.478591  0.271809
2     2021-03-06     0  0.994200  0.381517  0.328989  0.289494
3     2021-03-07     0  0.996624  0.364250  0.340340  0.295410
4     2021-03-08     0  0.945569  0.411789  0.409368  0.178843
...          ...   ...       ...       ...       ...       ...
2256  2021-02-27     1  0.998747  0.331065  0.355830  0.313106
2257  2021-02-28     0  0.790259  0.666160  0.163327  0.170513
2258  2021-03-01     0  0.979529  0.434742  0.291676  0.273582
2259  2021-03-02     1  0.996862  0.308599  0.372329  0.319072
2260  2021-03-03     0  0.557751  0.812401  0.093178  0.094420

[2261 rows x 6 columns]

In [172]:
res['date'] = res['date'] + " 00:00:00"

In [173]:
res['date'] = pd.to_datetime(res['date'])

In [174]:
res['ts'] = (res['date'].astype(int)/10**9).astype(int)

/var/folders/p6/c60kdckd7tn99b_0r_kz65sr0000gn/T/ipykernel_4699/308751318.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  res['ts'] = (res['date'].astype(int)/10**9).astype(int)

In [175]:
res

           date  pred   entropy      hold       buy      sell          ts
0    2021-03-04     1  0.981112  0.351136  0.404654  0.244210  1614816000
1    2021-03-05     1  0.958637  0.249601  0.478591  0.271809  1614902400
2    2021-03-06     0  0.994200  0.381517  0.328989  0.289494  1614988800
3    2021-03-07     0  0.996624  0.364250  0.340340  0.295410  1615075200
4    2021-03-08     0  0.945569  0.411789  0.409368  0.178843  1615161600
...         ...   ...       ...       ...       ...       ...         ...
2256 2021-02-27     1  0.998747  0.331065  0.355830  0.313106  1614384000
2257 2021-02-28     0  0.790259  0.666160  0.163327  0.170513  1614470400
2258 2021-03-01     0  0.979529  0.434742  0.291676  0.273582  1614556800
2259 2021-03-02     1  0.996862  0.308599  0.372329  0.319072  1614643200
2260 2021-03-03     0  0.557751  0.812401  0.093178  0.094420  1614729600

[2261 rows x 7 columns]

In [188]:
import pandas as pd
import time
from datetime import datetime
import numpy as np

pred = pd.read_csv('./data/pred_test_day.csv')
btc = pd.read_csv('./data/btc.csv')

In [190]:
pred.tail(1)

           date  pred   entropy      hold       buy      sell
226  2021-12-10     0  0.961687  0.473441  0.256067  0.270492

In [136]:
if 'time_open' in btc.iloc[0]:
    btc['time_open'] = btc['time_open']/1000
    btc['time_open'] = btc['time_open'].astype(int)
    btc = btc[['time_open', 'Close']]
    btc.drop_duplicates(subset=['time_open'], keep='first', inplace=True)
    
"""
else:
    btc['Date'] = datetime.fromisoformat(btc['Date'])
    btc['Date'] = btc['Date']/1000
    btc['Date'] = btc['Date'].astype(int)
    btc = btc[['Date', 'Close']]
    btc.drop_duplicates(subset=['Date'], keep='first', inplace=True)
"""

btc

        time_open     Close
0      1552449600   3857.44
1      1552453200   3861.80
2      1552456800   3854.73
3      1552460400   3862.66
4      1552464000   3856.82
...           ...       ...
24084  1639339200  50262.31
24085  1639342800  49979.49
24086  1639346400  50220.18
24087  1639350000  50085.14
24088  1639353600  49636.60

[24089 rows x 2 columns]

In [134]:
test = 'wrfskjdfh1r.csv'
if '1hr' in test:
    print('er')

In [128]:
pred.drop_duplicates(subset=['date'], keep='first', inplace=True)
print(len(pred[pred['pred'] == 0]))
print(len(pred[pred['pred'] == 1]))
print(len(pred[pred['pred'] == 2]))
for i, data in pred.iterrows():
    if data['entropy'] >= 0.5:
        pred.at[i,'pred'] = 0
pred

963
608
690

            date  pred   entropy      hold       buy      sell
0     1626202800     0  0.820085  0.540380  0.079110  0.380510
1     1626206400     0  0.916836  0.470596  0.150285  0.379119
2     1626210000     0  0.725304  0.235077  0.687139  0.077784
3     1626213600     0  0.944842  0.275930  0.225308  0.498763
4     1626217200     0  0.859180  0.591951  0.259137  0.148913
...          ...   ...       ...       ...       ...       ...
2269  1639166400     0  0.947557  0.493320  0.224617  0.282063
2270  1639170000     0  0.877574  0.434250  0.455075  0.110675
2271  1639173600     0  0.756626  0.056952  0.609432  0.333616
2272  1639177200     0  0.932424  0.496920  0.317432  0.185648
2273  1639180800     0  0.750560  0.471733  0.491660  0.036607

[2261 rows x 6 columns]

In [129]:
print(len(pred[pred['pred'] == 0]))
print(len(pred[pred['pred'] == 1]))
print(len(pred[pred['pred'] == 2]))

2143
40
78

In [130]:
date_set = set()
test = {}
for i, data in pred.iterrows():
    if data['date'] not in test:
        test[data['date']] = 1
    else:
        test[data['date']] += 1
    date_set.add(data['date'])


    
if 'time_open' in btc.iloc[0]:
    btc = btc[btc['time_open'].isin(date_set)]
else:
    btc = btc[btc['Date'].isin(date_set)]
print(len(date_set))
print(len(btc))
btc.reset_index(drop=True, inplace=True)
pred.reset_index(drop=True, inplace=True)
print(btc[:5])
print(pred[:5])
res = pd.concat([pred, btc], axis=1)
res = res[['date', 'Close', 'pred']]
res.tail(50)

2261
2261
    time_open     Close
0  1626202800  32323.40
1  1626206400  32491.80
2  1626210000  32549.33
3  1626213600  32572.71
4  1626217200  32708.62
         date  pred   entropy      hold       buy      sell
0  1626202800     0  0.820085  0.540380  0.079110  0.380510
1  1626206400     0  0.916836  0.470596  0.150285  0.379119
2  1626210000     0  0.725304  0.235077  0.687139  0.077784
3  1626213600     0  0.944842  0.275930  0.225308  0.498763
4  1626217200     0  0.859180  0.591951  0.259137  0.148913

            date     Close  pred
2211  1639004400  50516.70     1
2212  1639008000  50509.90     0
2213  1639011600  50222.92     0
2214  1639015200  49959.70     0
2215  1639018800  49591.20     0
2216  1639022400  49813.90     0
2217  1639026000  49817.87     0
2218  1639029600  49648.28     0
2219  1639033200  50052.16     0
2220  1639036800  49579.76     0
2221  1639040400  49239.01     0
2222  1639044000  49350.78     2
2223  1639047600  49232.53     0
2224  1639051200  49452.41     0
2225  1639054800  49385.92     0
2226  1639058400  48642.30     0
2227  1639062000  48463.19     0
2228  1639065600  48585.17     0
2229  1639069200  48182.00     0
2230  1639072800  47796.18     0
2231  1639076400  47674.24     0
2232  1639080000  47675.47     0
2233  1639083600  47962.30     0
2234  1639087200  47917.78     0
2235  1639090800  47575.22     0
2236  1639094400  48045.41     0
2237  1639098000  48442.23     0
2238  1639101600  48557.00     0
2239  1639105200  48387.71     0
2240  1639108800  48245.59     0
2241  1639112400  48245.47     0
2242  1639116000  47920.20     0
2243  1639119600  47678.87     0
2244  1639123200  48086.89     0
2245  1639126800  48393.09     0
2246  1639130400  48224.71     0
2247  1639134000  48703.25     0
2248  1639137600  49061.05     0
2249  1639141200  49652.23     0
2250  1639144800  48119.20     0
2251  1639148400  47938.46     0
2252  1639152000  47573.73     0
2253  1639155600  47579.93     0
2254  1639159200  47845.25     0
2255  1639162800  48126.69     0
2256  1639166400  48412.96     0
2257  1639170000  47943.90     0
2258  1639173600  47527.10     0
2259  1639177200  47143.18     0
2260  1639180800  47757.00     0

In [131]:
res.to_csv('./data/combine.csv')

In [122]:
hold = 1000000
sharehold = 0
percentage = 0.8



for i, data in res.iterrows():
    label = data['pred']
    price = data['Close']
    # print(label, price)
    if label == 1 and hold >= price:
        if hold*percentage < price:
            hold -= price
            sharehold += 1
        else:
            to_buy = hold*percentage
            hold *= (1-percentage)
            sharehold += to_buy/price
            
    elif label == 2 and sharehold >= 1/(percentage*2):
        to_sell = sharehold*percentage
        sharehold -= to_sell
        hold += to_sell * price


latest_price = res.iloc[-1]['Close']
print(f'final hold of cash: ${hold}', )
print(f'final hold of bitcoin: {sharehold}, which equals to {sharehold*latest_price} usd dollars')
print(f'total: ${hold+sharehold*latest_price}')

final hold of cash: $923796.2828982678
final hold of bitcoin: 4.699442652852369, which equals to 224431.28277227058 usd dollars
total: $1148227.5656705385

In [118]:
for i, data in res.iterrows():
    label = data['pred']
    price = data['Close']
    # print(label, price)
    if label == 1 and hold >= price:
        sharehold += hold/price
        hold = 0
            
    elif label == 2 and sharehold >= 0.5:
        hold += sharehold*price
        sharehold = 0


latest_price = res.iloc[-1]['Close']
print(f'final hold of cash: ${hold}', )
print(f'final hold of bitcoin: {sharehold}, which equals to {sharehold*latest_price} usd dollars')
print(f'total: ${hold+sharehold*latest_price}')

final hold of cash: $1369306.1727505128
final hold of bitcoin: 0, which equals to 0.0 usd dollars
total: $1369306.1727505128

In [176]:
import numpy as np
import pandas as pd
import os
import itertools
from scipy.stats import entropy
from settings import *


def get_btc():
    freq = "day"
    if freq == "day":
        df_btc = pd.read_csv(f"./data/btc.csv")
        df_btc = df_btc[COLS]
        df_btc = df_btc.set_index("Date")
    elif freq == "1hour":
        cols_remove = ["trade_id", "symbol", "ignore", "time_close"]
        df_btc = pd.read_csv(f"{data_dir}/btc_1hr.csv")
        df_btc = df_btc.drop(cols_remove, axis=1)
        df_btc.time_open = (df_btc.time_open/1000).astype(int)
        df_btc = df_btc.rename(columns={"time_open": "timestamp"})
        df_btc = df_btc.set_index("timestamp")
    return df_btc


def range_buy_sell(df, tolerance=0.03):
    buy_point = []
    sell_point = []
    for data in df.iterrows():
        price = data[1]['Close']
        label = data[1]['Label']
        if label == 1:
            buy_point.append(price)
        elif label == 2:
            sell_point.append(price)

    buy_pos = 0
    sell_pos = -1
    for i, data in df.iterrows():
        price = data['Close']
        label = data['Label']
        if label == 1:
            sell_pos += 1
            if sell_pos == len(sell_point):
                break
        elif label == 2:
            buy_pos += 1
            if buy_pos == len(buy_point):
                break
        else:
            cur_buy = buy_point[buy_pos]
            if abs(price - cur_buy)/cur_buy <= tolerance:
                df.at[i,'Label'] = 1
            if sell_pos == -1:
                continue
            cur_sell = sell_point[sell_pos]
            if abs(cur_sell - price)/cur_sell <= tolerance:
                df.at[i,'Label'] = 2


def collect_peaks(data, threshold, price_col="Close"):
    peaks = set()
    price_max = 0
    price_min = float('inf')
    date_start = data.head(1).index[0]
    profit = 0
    for d in data.iterrows():
        date = d[0]
        price = d[1][price_col]
        rise = (price - price_min) / price_min
        #print(date, price, price_min, rise)
        if price < price_min:
            price_min = price
            profit = (price_max - price_min) / price_min
            if profit >= threshold:
                peaks.add(date_start)
        elif price > price_max or rise >= threshold:
            price_min = price
            price_max = price
            date_start = date
    return sorted(list(peaks))
    
    
def collect_valleys(data, threshold, price_col="Close"):
    valleys = set()
    price_max = 0
    price_min = float('inf')
    date_start = data.head(1).index[0]
    profit = 0
    for d in data.iterrows():
        date = d[0]
        price = d[1][price_col]
        drop = (price_max - price) / price
        if price > price_max:
            price_max = price
            profit = (price_max - price_min) / price_min
            if profit >= threshold:
                valleys.add(date_start)
        elif price < price_min or drop >= threshold:
            price_min = price
            price_max = price
            date_start = date
    return sorted(list(valleys))


def collect_labels(data, threshold):
    peaks = collect_peaks(data, threshold)
    valleys = collect_valleys(data, threshold)
    flats = sorted(list(set(data.index) - set(peaks) - set(valleys)))
    peaks = pd.DataFrame({"Date": peaks, "Label": PeakLabel})
    valleys = pd.DataFrame({"Date": valleys, "Label": ValleyLabel})
    flats = pd.DataFrame({"Date": flats, "Label": FlatLabel})
    return pd.concat([peaks, valleys, flats], axis=0).sort_values("Date").set_index("Date")


def labelling(data, shift, threshold):
    labels = collect_labels(data, threshold)
    df = data.join(labels)
    df = df.sort_index()
    if shift:
        df = df.assign(y=df["Label"].shift(shift)).dropna().drop(["Label"], axis=1)
        df = df.rename(columns={"y": "Label"})
        df.Label = df.Label.astype(int)
    return df

df = get_btc()
df_train = labelling(df, 0, 0.1)
range_buy_sell(df_train, 0.03)
df_train.to_csv("./data/original_smooth_day.csv")

/var/folders/p6/c60kdckd7tn99b_0r_kz65sr0000gn/T/ipykernel_4699/2730138321.py:69: RuntimeWarning: invalid value encountered in double_scalars
  rise = (price - price_min) / price_min
/var/folders/p6/c60kdckd7tn99b_0r_kz65sr0000gn/T/ipykernel_4699/2730138321.py:95: RuntimeWarning: invalid value encountered in double_scalars
  profit = (price_max - price_min) / price_min