In [83]:
import json

def read_csv():
    df = pd.read_csv('./data/combine.csv')
    df = df[df['pred'] != 0]
    return json.loads(df.to_json(orient="records"))

rows = read_csv()
for row in rows:
    if row['pred'] == 1:
        temp = {
            "point":{
                "x": row['date']*1000,
                "y": row['Close'],
                "xAxis": 0,
                "yAxis": 0
            },
            "text": "buy"
        }
    elif row['pred'] == 2:
        temp = {
            "point":{
                "x": row['date']*1000,
                "y": row['Close'],
                "xAxis": 0,
                "yAxis": 0
            },
            "text": "sell"
        }
    print(f"data: {json.dumps(temp)}\n")
    break

data: {"point": {"x": 1626202800000, "y": 32323.4, "xAxis": 0, "yAxis": 0}, "text": "sell"}

In [132]:
test = pd.read_csv('./data/pred_test_1hr.csv')
test2 = pd.read_csv('./data/pred_train_1hr.csv')
print(len(test))
print(len(test2))
res = pd.concat([test, test2], ignore_index=True, sort=False)
print(len(res))
res

2274
20463
22737

             date  pred   entropy      hold       buy      sell
0      1626202800     0  0.820085  0.540380  0.079110  0.380510
1      1626206400     0  0.916836  0.470596  0.150285  0.379119
2      1626210000     1  0.725304  0.235077  0.687139  0.077784
3      1626213600     2  0.944842  0.275930  0.225308  0.498763
4      1626217200     0  0.859180  0.591951  0.259137  0.148913
...           ...   ...       ...       ...       ...       ...
22732  1626184800     0  0.505072  0.830791  0.047290  0.121919
22733  1626188400     1  0.885013  0.169365  0.569130  0.261505
22734  1626192000     1  0.954776  0.372785  0.432531  0.194685
22735  1626195600     0  0.903193  0.554010  0.253475  0.192514
22736  1626199200     2  0.782149  0.054184  0.415584  0.530232

[22737 rows x 6 columns]

In [137]:
import pandas as pd
import time
from datetime import datetime
import numpy as np

pred = pd.read_csv('./data/pred_test_1hr.csv')
btc = pd.read_csv('./data/btc_1hr.csv')

In [138]:
btc.iloc[0]

time_open                    1552449600000
Open                                3872.0
High                                3872.0
Low                                3855.95
Close                              3857.44
vol                               1.573836
time_close                   1552453199999
vol_quote_asset                6080.201952
number_of_trades                        20
vol_taker_buy_base_asset           0.01568
vol_taker_buy_quote_asset         60.63936
ignore                                   0
trade_id                           BTCTUSD
symbol                                 BTC
Name: 0, dtype: object

In [136]:
if 'time_open' in btc.iloc[0]:
    btc['time_open'] = btc['time_open']/1000
    btc['time_open'] = btc['time_open'].astype(int)
    btc = btc[['time_open', 'Close']]
    btc.drop_duplicates(subset=['time_open'], keep='first', inplace=True)
    
"""
else:
    btc['Date'] = datetime.fromisoformat(btc['Date'])
    btc['Date'] = btc['Date']/1000
    btc['Date'] = btc['Date'].astype(int)
    btc = btc[['Date', 'Close']]
    btc.drop_duplicates(subset=['Date'], keep='first', inplace=True)
"""

btc

        time_open     Close
0      1552449600   3857.44
1      1552453200   3861.80
2      1552456800   3854.73
3      1552460400   3862.66
4      1552464000   3856.82
...           ...       ...
24084  1639339200  50262.31
24085  1639342800  49979.49
24086  1639346400  50220.18
24087  1639350000  50085.14
24088  1639353600  49636.60

[24089 rows x 2 columns]

In [134]:
test = 'wrfskjdfh1r.csv'
if '1hr' in test:
    print('er')

In [128]:
pred.drop_duplicates(subset=['date'], keep='first', inplace=True)
print(len(pred[pred['pred'] == 0]))
print(len(pred[pred['pred'] == 1]))
print(len(pred[pred['pred'] == 2]))
for i, data in pred.iterrows():
    if data['entropy'] >= 0.5:
        pred.at[i,'pred'] = 0
pred

963
608
690

            date  pred   entropy      hold       buy      sell
0     1626202800     0  0.820085  0.540380  0.079110  0.380510
1     1626206400     0  0.916836  0.470596  0.150285  0.379119
2     1626210000     0  0.725304  0.235077  0.687139  0.077784
3     1626213600     0  0.944842  0.275930  0.225308  0.498763
4     1626217200     0  0.859180  0.591951  0.259137  0.148913
...          ...   ...       ...       ...       ...       ...
2269  1639166400     0  0.947557  0.493320  0.224617  0.282063
2270  1639170000     0  0.877574  0.434250  0.455075  0.110675
2271  1639173600     0  0.756626  0.056952  0.609432  0.333616
2272  1639177200     0  0.932424  0.496920  0.317432  0.185648
2273  1639180800     0  0.750560  0.471733  0.491660  0.036607

[2261 rows x 6 columns]

In [129]:
print(len(pred[pred['pred'] == 0]))
print(len(pred[pred['pred'] == 1]))
print(len(pred[pred['pred'] == 2]))

2143
40
78

In [130]:
date_set = set()
test = {}
for i, data in pred.iterrows():
    if data['date'] not in test:
        test[data['date']] = 1
    else:
        test[data['date']] += 1
    date_set.add(data['date'])


    
if 'time_open' in btc.iloc[0]:
    btc = btc[btc['time_open'].isin(date_set)]
else:
    btc = btc[btc['Date'].isin(date_set)]
print(len(date_set))
print(len(btc))
btc.reset_index(drop=True, inplace=True)
pred.reset_index(drop=True, inplace=True)
print(btc[:5])
print(pred[:5])
res = pd.concat([pred, btc], axis=1)
res = res[['date', 'Close', 'pred']]
res.tail(50)

2261
2261
    time_open     Close
0  1626202800  32323.40
1  1626206400  32491.80
2  1626210000  32549.33
3  1626213600  32572.71
4  1626217200  32708.62
         date  pred   entropy      hold       buy      sell
0  1626202800     0  0.820085  0.540380  0.079110  0.380510
1  1626206400     0  0.916836  0.470596  0.150285  0.379119
2  1626210000     0  0.725304  0.235077  0.687139  0.077784
3  1626213600     0  0.944842  0.275930  0.225308  0.498763
4  1626217200     0  0.859180  0.591951  0.259137  0.148913

            date     Close  pred
2211  1639004400  50516.70     1
2212  1639008000  50509.90     0
2213  1639011600  50222.92     0
2214  1639015200  49959.70     0
2215  1639018800  49591.20     0
2216  1639022400  49813.90     0
2217  1639026000  49817.87     0
2218  1639029600  49648.28     0
2219  1639033200  50052.16     0
2220  1639036800  49579.76     0
2221  1639040400  49239.01     0
2222  1639044000  49350.78     2
2223  1639047600  49232.53     0
2224  1639051200  49452.41     0
2225  1639054800  49385.92     0
2226  1639058400  48642.30     0
2227  1639062000  48463.19     0
2228  1639065600  48585.17     0
2229  1639069200  48182.00     0
2230  1639072800  47796.18     0
2231  1639076400  47674.24     0
2232  1639080000  47675.47     0
2233  1639083600  47962.30     0
2234  1639087200  47917.78     0
2235  1639090800  47575.22     0
2236  1639094400  48045.41     0
2237  1639098000  48442.23     0
2238  1639101600  48557.00     0
2239  1639105200  48387.71     0
2240  1639108800  48245.59     0
2241  1639112400  48245.47     0
2242  1639116000  47920.20     0
2243  1639119600  47678.87     0
2244  1639123200  48086.89     0
2245  1639126800  48393.09     0
2246  1639130400  48224.71     0
2247  1639134000  48703.25     0
2248  1639137600  49061.05     0
2249  1639141200  49652.23     0
2250  1639144800  48119.20     0
2251  1639148400  47938.46     0
2252  1639152000  47573.73     0
2253  1639155600  47579.93     0
2254  1639159200  47845.25     0
2255  1639162800  48126.69     0
2256  1639166400  48412.96     0
2257  1639170000  47943.90     0
2258  1639173600  47527.10     0
2259  1639177200  47143.18     0
2260  1639180800  47757.00     0

In [131]:
res.to_csv('./data/combine.csv')

In [122]:
hold = 1000000
sharehold = 0
percentage = 0.8



for i, data in res.iterrows():
    label = data['pred']
    price = data['Close']
    # print(label, price)
    if label == 1 and hold >= price:
        if hold*percentage < price:
            hold -= price
            sharehold += 1
        else:
            to_buy = hold*percentage
            hold *= (1-percentage)
            sharehold += to_buy/price
            
    elif label == 2 and sharehold >= 1/(percentage*2):
        to_sell = sharehold*percentage
        sharehold -= to_sell
        hold += to_sell * price


latest_price = res.iloc[-1]['Close']
print(f'final hold of cash: ${hold}', )
print(f'final hold of bitcoin: {sharehold}, which equals to {sharehold*latest_price} usd dollars')
print(f'total: ${hold+sharehold*latest_price}')

final hold of cash: $923796.2828982678
final hold of bitcoin: 4.699442652852369, which equals to 224431.28277227058 usd dollars
total: $1148227.5656705385

In [118]:
for i, data in res.iterrows():
    label = data['pred']
    price = data['Close']
    # print(label, price)
    if label == 1 and hold >= price:
        sharehold += hold/price
        hold = 0
            
    elif label == 2 and sharehold >= 0.5:
        hold += sharehold*price
        sharehold = 0


latest_price = res.iloc[-1]['Close']
print(f'final hold of cash: ${hold}', )
print(f'final hold of bitcoin: {sharehold}, which equals to {sharehold*latest_price} usd dollars')
print(f'total: ${hold+sharehold*latest_price}')

final hold of cash: $1369306.1727505128
final hold of bitcoin: 0, which equals to 0.0 usd dollars
total: $1369306.1727505128